body {
    font-family: 'Poppins';
}

.container {
    background: rgba(0, 0, 0, 0.6);
    width: 900px;
    margin: 4rem auto;
    padding: auto;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 200px 400px;
    gap: 5rem;
}

.anime-description {
    color: #fff;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.data-anime {
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1rem;
}

@media (max-width: 1024px) {
    .container {
        max-width: 80%;
        grid-template-columns: 200px 300px;
        gap: 2rem;
    }
    .anime-description {
        max-width: 80%;
        font-size: 80%;
    }
    .data-anime {
        max-width: 80%;
    }
.data-anime li {
        display: flex;
        flex-wrap: wrap;
        font-size: 80%;

    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: auto;
    }
    .image {
        max-width: 40%;
    }
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: auto;
    }
    .data-anime {
        max-width: 90%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
}